interactions:
- request:
    body: '{"to":"33788813966","type":"text","text":{"body":"Hello","preview_url":false},"messaging_product":"whatsapp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.facebook.com/v22.0/123456789/messages
  response:
    body:
      string: '{"error":{"message":"Invalid OAuth access token - Cannot parse access
        token","type":"OAuthException","code":190,"fbtrace_id":"AGRfMsum6uV8Hv9MUfvTijJ"}}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Proxy-Status:
      - http_request_error; e_fb_vipaddr="AcP3POSmUHREWWqeJTLKQa-tyyFez4eBTsCcmj_PcuA2_4Ukb9D-BOiqYJxkdd_EmJ2OubmCQp6Ocq35_DKHayENpEQQTOfYVA";
        e_clientaddr="AcOl717k5lGO4v0WZBwKTADpAYU3uPderqIIU7HqQ38vMinAn89ztPweE8Eytp3oO5d7j2UvJTR8-sVjpN-LJkOCqkN-keUOdDL1DjZKwSe9hrVAOQ";
        e_upip="AcNnDBhpI4N91RzzEGygT6CER6Zx85TGuvxH6E4z7dG8FDBTEV8D-Mg51mITzsxuw7P3cZN0oW6292W3Oh8fQZn908LPP_P-2PCTUs98fVg";
        e_fb_zone="AcNkjMSdQRDqpGgS1k-M9MTgxFKvzsyawH2u98VWT7sInmhcbAK9Dd4Z1k9iL1DA";
        e_fb_twtaskhandle="AcPNJ-rJwiie7pyVSHDOmfBe2i3zClDnq6TAwAiiyKJx_4QFMDY0CXoSlbPShIRnbKUWKIfP8iwB29CDUw_8hJg78WR6XNrjqjiLibnfKxtm5ZE";
        e_proxy="AcMCwNJtmB5y-pNoH1_MYuodJqhqCP34gQBcUsrHesPLPvNTbWl6_J_6rYu_OB364bnJ4FhIFhw7uJgRcI4yUg",
        http_request_error; e_fb_vipaddr="AcPEmUY5pJzEK4G8uo-J527FibpaeoPrhig2gewp07apL7UKY4z2-40Opn8yCjZWztjyW6DhtNA";
        e_clientaddr="AcMF4eYZ4hNqkiPoB0A5HLakiVwQsODmfkiCBtajAY_abFspOqiESUhwrRddNEBOtnc-W_SzTBw4z8e-";
        e_upip="AcO4icrvCCNQ9HfIi9F5ByqsSVMqnwd8w0Cpu2aMZhp5KV2OTqAE0AeXCxhZJ-f6lzgKF9vulnR4HzfhDX_qq3ayLBDfPcFU-g";
        e_fb_zone="AcNukuILyTES8Rw9Vi3Xp_RN9lHqszHT6VmSFEki_FQA3DiPwOkHlKveFGcm7Q";
        e_fb_twtaskhandle="AcPXAWv8ThSHghPUfqvc_-js2VxFrCF-T5aEYVIdIDB3kcyx9zhcl6ROVwhGv7qMpTbMTEdr-WJTzkjAJ6Y9ZaHusQbXHGrMxJG8";
        e_proxy="AcO_Ye92vsnkVSZxYXSVsgYpXz9yNEEzfVggqDpZAloIf3CCusBB2NNKmgPjgqNdFE2orkJ_KJuE32w"
      WWW-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token - Cannot
        parse access token"
      debug-link:
      - https://www.meta.com/debug/?mid=fbd81c80b60dcfceb52b1223b7744fea
      error-mid:
      - fbd81c80b60dcfceb52b1223b7744fea
    status:
      code: 401
      message: Unauthorized
version: 1
