interactions:
- request:
    body: '{"to":"33788813966","type":"interactive","interactive":{"type":"button","body":{"text":"Choose
      an option:"},"action":{"buttons":[{"type":"reply","reply":{"id":"btn1","title":"Option
      1"}},{"type":"reply","reply":{"id":"btn2","title":"Option 2"}}]},"header":{"type":"text","text":"Menu"},"footer":{"text":"Pick
      one"}},"messaging_product":"whatsapp"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.facebook.com/v22.0/1008875238968261/messages
  response:
    body:
      string: '{"messaging_product":"whatsapp","contacts":[{"input":"33788813966","wa_id":"33788813966"}],"messages":[{"id":"wamid.HBgLMzM3ODg4MTM5NjYVAgARGBI5QTAyM0NFRUM5NUQxOTZDOUIA"}]}'
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      facebook-api-version:
      - v24.0
      x-ad-api-version-warning:
      - The call has been auto-upgraded to v24.0 as v22.0 will be deprecated.
      x-business-use-case-usage:
      - '{"2834713520071064":[{"type":"whatsapp","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    status:
      code: 200
      message: OK
version: 1
