name: Publish

on:
  push:
    tags:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.12"
          enable-cache: true

      - name: Set up Python
        run: uv python install 3.14

      - name: Build package
        run: uv build

      - name: Upload package
        uses: actions/upload-artifact@v6
        with:
          name: package-distributions
          path: dist/

  pypi-publish:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/project/whatsapp-client/${{ github.ref_name }}

    steps:
      - name: Download package
        uses: actions/download-artifact@v7
        with:
          name: package-distributions
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
